
body{
  background-color: #282c34;
  font-family: 'Lucida Console', Monaco, monospace;

}
/**index.html styel**/
#indexName {
  font-size: 2.6em;
  color: #abb3bb;
  line-height: 1.8em;
  text-align: right;

}

#indexLinks a{
  font-size: 2em;
  color: #f3a462;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 0.6em;
}

#indexLinks a:visited{
  text-decoration: none;
  color: #f3a462;
}

#indexLinks a:hover{
  color: #9bc77e;
}

#indexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space{
  margin-top: 17%;
}

/**about.html style**/

.heading {
    color: #f3a462;
    font-size: 1.8em;
}

.maintext {
  color: #abb3bb;
  font-size: 1.5em;
}

.centre {
  padding: 15%;
}

/**projects.html style**/

#projects a{
  border: 2px solid #788A9F;
  text-decoration: none;
  font-size: 1.6em;
  padding: 1.5%;
  color: #abb3bb;
}

#projects :hover{
  color: #777c81;
}

#indexLinks :visited{
  text-decoration: none;
  color: #abb3bb;
}
